
.navheadertext{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color:'blue'
  }
  
  .navheadersubtext{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
  }
  .leftcardheadertext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    /* color:'blue';
    justify-content: center;
    align-items: center;
    align-content: center; */
  }

  .backicon {
      size: 30px;
  }

  .leftContainer {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  }

  .leftcardskilltext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }

  .leftcardmandatorytext {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }
    
  .leftcardprojecttext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }

  .leftcardtechnologytext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }

  .asteriskkey {
    color: red;
    font-weight: bold;
  }


  /* -------------------------  Right Card design  ------------------------ */


  .nametext {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }

  .roletext {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }
  
  .mailtext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
    font-weight: bolder;
  }

  .phonetext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }

  .workexperiencetext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .skillstext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .projecttext {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
  }

  .projectroletext {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4px;
  }

  .developertext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    
  }

  .skilllisttext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
  }

  .educationtext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .degreetext {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin-bottom: 6px;
  }

  .universitytext {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
  }

  .yeartext {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  
  